body{

	background-image: url('D:/web-d projects/first/photos/background_image.jpg');
	background-size: cover;
}
header{
	color: whitesmoke;
}
h1{
	color: whitesmoke; 
	font-family: cursive;
}
.header_p{
	color: whitesmoke; 
	font-family: sans-serif;
}
p{
	color: whitesmoke;
}
h4{
	color: whitesmoke;
}
.footer_p{
	color:  whitesmoke;
}
footer{
        background-color: #2f4353;
  background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
}
.w3-quarter img:hover {
	opacity: 0.7;
}
.container{
	padding: 70px;
}